.git
.github
.tmp
.container-output
**/node_modules
**/dist
**/coverage
**/.nx
**/.next
**/.angular
**/out
**/*.log
**/.env
**/.env.*
!**/.env.example
**/gha-creds-*.json
**/.terraform
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/tfplan
**/*.tfvars
**/*.tfvars.json
!**/*.tfvars.example
infra/bootstrap/foundation.env
**/backend.hcl
